# Restate
RESTATE_INGRESS=http://localhost:8080
NITRO_API_URL=http://localhost:3000

# SurrealDB
SURREAL_URL=http://127.0.0.1:8000/rpc
SURREAL_USER=root
SURREAL_PASS=root

# Web app
WEB_PORT=3000

# Admin app
ADMIN_PORT=3001
